---
import GustavoCard from '../components/GustavoCard.astro';
import BaseLayout from '../layouts/base-layout.astro';
---



<BaseLayout>
  <div class="h-full grid place-items-center">
    <GustavoCard />
  </div>
</BaseLayout>
