<style>
  i {
    @apply text-xl;
    transition: 500ms;
  }

  i:hover {
    font-size: 1.5rem;
  }
</style>

<div class="mt-2 flex gap-4 justify-center flex-wrap">
  <i  class="devicon-javascript-plain colored" title="JavaScript"/>
  <i  class="devicon-typescript-plain colored" title="TypeScript"/>
  <i  class="devicon-react-plain colored" title="React"/>
  <i  class="devicon-nextjs-plain" title="Next.js"/>
  <i  class="devicon-tailwindcss-plain colored" title="TailwindCSS"/>
  <i  class="devicon-nodejs-plain colored" title="Node.js"/>
  <i  class="devicon-express-original" title="Express.js"/>
  <i  class="devicon-jest-plain colored" title="Jest"/>
  <i  class="devicon-postgresql-plain colored" title="PostgreSQL"/>
  <i  class="devicon-git-plain colored" title="GIT"/>
</div>