---
import Nav from "../components/Nav.astro";
import '../styles/global.scss';
---


<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Gustavo Farias Maurina</title>

  <!-- fonts -->
  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" rel="stylesheet" />
</head>
<body class="bg-black">
  <Nav />

  <main class="pt-24 pb-24 h-full home-bg">
    <slot />
  </main>

</body>
</html>